@namespace Dashboard.Components.Bullet
@using Dashboard

<div class="bg-cyan-800 border border-cyan-600 hover:bg-cyan-700 rounded mb-1 overflow-hidden cursor-pointer transition flex group shadow-sm @((Item?.HabitDetail?.IsCompleted ?? false) ? "opacity-60" : "opacity-100")" @onclick="HandleClick">
    
    @if(!string.IsNullOrEmpty(Item.ImgUrl))
    {
        <div class="relative bg-black shrink-0" style="width: @ImageWidth;">
            <img src="@Item.ImgUrl" class="w-full h-full object-cover opacity-80 group-hover:opacity-100 transition" />
        </div>
    }

    <div class="p-1 flex-1 min-w-0 flex items-center">
        <div class="truncate text-[10px] text-white transition w-full font-sans">
            
            @if (Item?.HabitDetail?.IsCompleted == true)
            {
                <span class="mr-1 text-cyan-200 font-bold">🔥 @(Item.HabitDetail.StreakCount)</span> 
                <span class="line-through text-cyan-200/70">@Item.Title</span>
            }
            else
            {
                <span class="mr-1 text-yellow-400 font-bold">⏳</span>
                <span>@Item.Title</span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public BulletTaskService.TaskDTO Item { get; set; } = new();
    [Parameter] public string ImageWidth { get; set; } = "20%";
    [Parameter] public EventCallback<BulletTaskService.TaskDTO> OnClick { get; set; }

    private async Task HandleClick() => await OnClick.InvokeAsync(Item);
}